<div class="container">

  <div class="class row mx-auto text-center py-3">

    <div class="col-md-6 mx-auto mt-3">

      <mdb-card class="card">

        <mdb-card-body class="card-body p-5">

          <p class="h4 mt-3">Sign In</p>

          <form class="p-3" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>

            <div class="md-form">
              <!-- Email -->

               <input name="username" type="text" [(ngModel)]="form.username" #username="ngModel"
                 class="form-control my-4" placeholder="Username" required>

               <div *ngIf="f.submitted && username.invalid">
                 <div *ngIf="username.errors.required" class="forgot">Username is required</div>
               </div>

            </div>

            <!-- Password -->
            <div class="md-form">

              <input type="password" class="form-control my-4" name="password" [(ngModel)]="form.password"
                #password="ngModel" placeholder="Password" required>

              <div *ngIf="f.submitted && password.invalid">
                <div *ngIf="password.errors.required" class="forgot">Password is required</div>
              </div>
              
            </div>

            <button mdbBtn block="true" class="my-4 btn" type="submit">Sign in</button>

            <!-- Register -->
            <p>Not a member?
              <a class="forgot" routerLink="../register">Register</a>
            </p>

          </form>

        </mdb-card-body>

      </mdb-card>


    </div>

  </div>

</div>
