.container.form {
  width: 45%;
}

.container.search {
  margin: 0 0 0 10%;
}

.form-inline {
  margin-bottom: 0%;
}

.active-pink-2 input[type=text] {
  font-size: 1.5em;
  padding-left: .5%;
}

button#searchbutton.btn {
  box-shadow: none;
  padding-left: 5px;
}

.active-pink-2 .fa {
  color: black;
}

.forgot {
  color: #8B0000;
}

.indigo-text strong {
  color: darkred;
}

.my-4.btn {
  background: linear-gradient(to right, #8b0000 15%, #990000 58%);
  color: white;
}
